{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "localStorage": true,
    "window": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "semi": ["error", "never"]
  }
}
